[general]
general_hostname:mail.example.com

[ssl]
public_dovecot_key:/etc/ssl/certs/runeasymail.crt
private_dovecot_key:/etc/ssl/certs/runeasymail.key

[mysql_root]
mysql_root_username:xxx
mysql_root_password:xxx

[mysql_easymail]
mysql_easymail_database:easymail
mysql_easymail_hostname:xxx
mysql_easymail_username:xxx
mysql_easymail_password:xxx

[mysql_roundcube]
mysql_roundcube_database:roundcube
mysql_roundcube_username:xxx
mysql_roundcube_password:xxx

[roundcube_web]
roundcube_web_url:
roundcube_web_username:xxx
roundcube_web_password:xxx

[api]
api_url:
api_username:xxx
api_password:xxx